<div class="jumbotron4">
  <div class="center">
  <h1>WarShip!</h1>
  <%if current_user %>
    <%= form_with url: "/games", method: :post do |form| %>
    <button type="submit" name="button">New game</button><br>
    Logged in as: <%= current_user.name %><br>
    <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <% end %>
  <%else%>
    <p>Please log in or sign up to play a game</p><br>
    <%= link_to "Sign Up", new_registration_path %> |
    <%= link_to "Log In", new_session_path %>
  <% end %>
  </div>
</div>